* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#bookList {
  background: hsla(0, 0%, 7%, 0.965);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 2.5vmin;
  position: relative;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
}
#field {
  display: flex;
  width: 100%;
  height: 100%;
}
#container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 0.2fr auto;
}
header {
  color: white;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: hsl(0, 0%, 7%);
}
header h1 {
  font-size: 2em;
}
.nav {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 2vmin;
  display: none;
}
#bookList {
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
#bookList::-webkit-scrollbar {
  width: 0;
}
#bookList .showMenu {
  width: 50%;
  height: 50%;
  transition: 1.2s;
  background: hsl(0, 0%, 20%);
  position: relative;
  cursor: pointer;
}
#newBook {
  justify-content: center;
  align-items: center;
  width: 40vmin;
  height: 50vmin;
  display: flex;
  flex-direction: column;
}
.showMenu {
  border-radius: 3vmin;
  box-shadow: 0 0 10px hsl(151, 96%, 22%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#newBook .showMenu:hover,
#newBook .activeMenu {
  width: 100%;
  height: 100%;
}
.showMenu span {
  color: white;
  font-weight: 500;
  font-size: 10vmin;
  transition: 1.2s;
}
#newBook .showMenu:hover span,
#newBook .activeMenu span {
  font-size: 30vmin;
  transform: rotate(90deg);
}
.blockNewBook > div,
.blockEditBook > div {
  border-radius: 3vmin;
}
.buttons input:first-child,
.buttons input:last-child,
.editRemove .edit,
.editRemove .remove {
  border: none;
  border-radius: 0;
  color: white;
  outline: none;
}
.buttons input:first-child {
  border-bottom-left-radius: 3vmin;
  background: hsl(151, 96%, 22%);
}
.buttons input:last-child {
  border-bottom-right-radius: 3vmin;
  background: hsla(0, 100%, 50%, 0.822);
}
.editRemove .edit {
  background: hsl(151, 96%, 22%);
  border-top-left-radius: 3vmin;
}
.editRemove .remove {
  background: hsla(0, 100%, 50%, 0.822);
  border-top-right-radius: 3vmin;
}
#information {
  padding: 1vmin;
  padding-left: 0.5vmin;
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 2;
  grid-column-end: -1;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 20%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 1.2s;
  position: absolute;
}
#information.moveInformation {
  right: 0;
}
#information a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
table,
#settingStorage {
  width: 80%;
  height: auto;
}
#settingStorage {
  display: flex;
  flex-direction: column;
}
#settingStorage h2 {
  text-align: center;
}
#settingStorage div {
  display: flex;
  justify-content: center;
}
table,
#settingStorage div,
#aboutAuthor {
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  border-top: solid hsl(0, 0%, 50%) 1px;
  border-bottom: solid hsl(0, 0%, 50%) 1px;
}
caption,
#settingStorage h2 {
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  border-top: solid hsl(0, 0%, 50%) 1px;
}
#settingStorage input {
  padding-left: 4vmin;
  padding-right: 4vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  cursor: pointer;
  border-radius: 1.5vmin;
  border: none;
  outline: none;
  background: white;
}
#settingStorage input:hover {
  box-shadow: 0 0 10px hsl(151, 96%, 22%);
}
#aboutAuthor {
  padding-top: 1vmin;
  padding-bottom: 1vmin;
}
table .key {
  width: 70%;
  height: auto;
}
table .value {
  width: 30%;
  height: auto;
  text-align: right;
}
.blockNewBook,
.blockEditBook {
  width: 100%;
  height: 100%;
  display: none;
}
.blockNewBook > div,
.blockEditBook > div {
  margin: auto;
  z-index: 2;
  grid-row-start: 2;
  grid-row-end: -2;
  grid-column-start: 2;
  grid-column-end: 4;
  width: 75vmin;
  height: 75vmin;
  background: hsl(0, 0%, 25%);
  opacity: 0.9;
}
.blockNewBook label,
.blockEditBook label {
  display: flex;
}
.blockNewBook h2,
.blockEditBook h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: auto;
  height: 12%;
}
.buttons {
  display: flex;
  width: 100%;
  height: 12%;
}
.buttons input {
  width: 50%;
  height: 100%;
}
form {
  margin: auto;
  width: 80%;
  height: 76%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
form label {
  display: flex;
}
form label {
  width: 100%;
  height: auto;
}
form label input {
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
form label:nth-child(3),
form label:nth-child(4) {
  width: 60%;
  height: auto;
}
form label:nth-child(3) .totalPages,
form label:nth-child(4) .completedPages {
  width: 95%;
  height: auto;
}
.labelCompletedPages {
  position: relative;
}
.switch {
  top: 1vmin;
  right: -40vmin;
  position: absolute;
  display: inline-block;
}
.switch input {
  display: none;
}
.slider {
  width: 11vmin;
  height: 5vmin;
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  top: -0.25vmin;
  left: -0.25vmin;
  width: 5.5vmin;
  height: 5.5vmin;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(6vmin);
  -ms-transform: translateX(6vmin);
  transform: translateX(6vmin);
}
.slider.round {
  border-radius: 999999px;
}
.slider.round:before {
  border-radius: 50%;
}
.test {
  width: 100%;
  height: 0.5px;
}
.bookCard {
  border-radius: 3vmin;
  width: 40vmin;
  height: 50vmin;
  display: flex;
  flex-direction: column;
  transition: 1.2s;
}
.bookCard,
.bookCard * {
  cursor: pointer;
}
.bookCard:hover {
  box-shadow: 0 0 10px hsl(151, 96%, 22%);
}
.edit {
  border-top-left-radius: 3vmin;
}
.remove {
  border-top-right-radius: 3vmin;
}
.progressDisplay {
  border-bottom-left-radius: 3vmin;
  border-bottom-right-radius: 3vmin;
}
::-webkit-scrollbar {
  display: none;
}
.bookInfo {
  background: hsl(0, 0%, 20%);
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
}
.bookTitle {
  margin: auto;
}
.bookAuthor {
  text-align: right;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.countingPages {
  cursor: pointer;
}
.controlProgress {
  background: rgba(0, 119, 128, 0.589);
  display: flex;
}
.controlProgress * {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.incrementPages {
  background: green;
}
.decrementPages {
  background: hsla(0, 100%, 50%, 0.822);
}
.completeButton {
  background: hsl(240, 100%, 20%);
}
.progressDisplay {
  display: flex;
  background: hsl(0, 0%, 20%);
}
.progressDisplay * {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.displayCompletedPages {
  border-right: solid white 0.5px;
}
.displayTotalPages {
  border-left: solid white 0.5px;
}
.deleteDate {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.deleteDate * {
  color: white;
}
.deleteDate > div {
  opacity: 0.9;
  width: 70vmin;
  height: 70vmin;
  background: hsl(0, 0%, 25%);
  display: flex;
  flex-direction: column;
  border-radius: 3vmin;
}
.heading {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
}
.choice {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 2;
}
#no,
#yes {
  width: 20vmin;
  height: 20vmin;
  border: solid hsl(0, 0%, 50%) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3vmin;
  box-shadow: 0 0 10px hsl(151, 96%, 22%);
}
.auth {
  width: 100%;
  height: 100%;
  display: none;
  background: black;
}
.auth div {
  opacity: 0.9;
  width: 70vmin;
  height: 70vmin;
  background: rgba(255, 0, 0, 0.76);
}
.active {
  z-index: 3;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.labels::before {
  width: 95%;
  height: auto;
}
.labels.labelTotalPages:before,
.labels.labelCompletedPages:before {
  width: 160%;
  height: auto;
}
.labels {
  position: relative;
}
.labels:before {
  bottom: 0;
  left: 1vmin;
  position: absolute;
  display: block;
  content: "Title";
  color: white;
  font-size: 1em;
  transition: 1.2s;
}
.labels.labelAuthor:before {
  content: "Author";
}
.labels.labelTotalPages:before {
  content: "Total pages";
}
.labels.labelCompletedPages:before {
  content: "Completed pages";
}
.labels input {
  background: none;
  border: none;
  outline: none;
}
.labels:after {
  position: absolute;
  bottom: -1vmin;
  width: 100%;
  height: 1.5px;
  background: gray;
  content: "";
}
.labels.labelCompletedPages:after,
.labels.labelTotalPages:after {
  width: 100%;
  height: 1.5px;
}
.labels.validValue:after {
  background: hsl(88, 100%, 25%);
}
.labels.invalidValue:after {
  background: hsla(0, 100%, 50%, 0.822);
}
.labels.invalidValue:before {
  color: hsla(0, 100%, 50%, 0.822) !important;
}
.labels.invalidValue:before {
  content: "Title cannot be empty and length must be less than 40";
}
.labels.invalidValue.labelAuthor:before {
  content: "Author cannot be empty and length must be less than 40";
}
.labels.invalidValue.labelTotalPages:before {
  content: "Total pages number should be more than 0 and less than 9999999";
}
.labels.invalidValue.labelCompletedPages:before {
  content: "Completed pages number should be less than total pages number";
}
.labels.moveTop:before {
  color: hsl(201, 70%, 55%);
  bottom: 4vmin;
}
@media screen and (max-width: 950px) {
  #container {
    grid-template-columns: 1.2fr 0.8fr;
  }
  #information {
    right: -100%;
    z-index: 3;
  }
  #bookList {
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .nav {
    display: block;
  }
  .showMenu span {
    font-size: 15vmin;
  }
  #newBook .showMenu:hover span,
  #newBook .activeMenu span {
    font-size: 35vmin;
  }
}
@media screen and (max-width: 600px) {
  #container {
    grid-template-columns: 1.1fr 0.9fr;
  }
  .bookCard,
  #information {
    font-size: 1.4em;
  }
  .bookCard,
  #newBook {
    width: 45vmin;
    height: 55vmin;
  }
}
@media screen and (max-width: 570px) {
  .bookCard,
  #newBook {
    width: 55vmin;
    height: 66vmin;
  }
}
@media screen and (max-width: 450px) {
  #container {
    grid-template-columns: 1fr 1fr;
  }
}
